@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Bold.woff2') format('woff2'),
        url('./fonts/OpenSans-Bold.woff') format('woff'),
        url('./fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.banner {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    max-width: 1080px;
    max-height: 1920px;
    aspect-ratio: 9 / 16;
    background-color: #000;
    margin: auto;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
}

.banner__container {
    padding: 8% 1.9% 3.30%;
    display: flex;
    flex-direction: column;
    height: 92%;
}

.banner__top {
    padding: 0 3.8%;
    height: 30%;
}

.icon {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
}

.banner__desc {
    opacity: 0;
    margin-bottom: 4%;
    height: 1.75em;
    transition: opacity .3s ease;
}

.banner__desc-second {
    .icon {
        width: 70%;
    }
}

.banner__desc-third {
    .icon {
        max-width: 34%;
    }
}

.banner__logo {
    max-height: 291px;
    height: 72%;
    width: 100%;
}

.banner__button {
    background-color: #F50;
    border: none;
    color: #FFF;
    padding: 4.5% 13.5% 3%;
    font-family: inherit;
    font-size: 198%;
    line-height: 119%;
    border-radius: .6em;
    margin: 33% auto 0;
    text-transform: uppercase;
    opacity: 1;
    cursor: pointer;
    transition: visibility .3s ease, opacity .3s ease;
}

.banner__steps {
    width: 100%;
    display: grid;
    grid-template-columns: 0.4fr 0.3fr 0.4fr;
    grid-template-rows: 25% 25% 41%;
    height: 100%;
}

.banner__step:not(.banner__arrow) {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.banner__arrow {
    opacity: 0;
}

.banner__step-text {
    font-size: 1em;
    line-height: 113%;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 9%;
    text-align: center;
}

.banner__step-icon {
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.banner__step-first {
    justify-self: flex-start;
    align-self: end;
    align-self: end;

    .banner__step-wrapper {
        width: 105%;
        height: 82%;
        transform: translate(12%, 15%);
    }

    .banner__step-icon {
        transform: translateX(-2%);
    }
}

.banner__step-second {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
    align-items: end;

    .banner__step-wrapper {
        height: 77%;
        width: 99%;
        transform: translateY(-40%);
    }
}

.banner__step-third {
    grid-column: 1;
    grid-row: 3;
    justify-self: start;

    .banner__step-wrapper {
        height: 50%;
        width: 95%;
        transform: translate(7%, -7%);
    }
}

.banner__step-forth {
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
    align-self: center;

    .banner__step-wrapper {
        height: 52%;
        width: 100%;
        transform: translate(-10%, 44%);
    }
}

.banner__step-first-arrow {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: end;

    .banner__step-wrapper {
        width: 58%;
        height: 19%;
        transform: translate(69%, 39%);
    }
}

.banner__step-second-arrow {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: end;

    .banner__step-wrapper {
        height: 35%;
        width: 67%;
        transform: translate(29%, 38%);
    }
}

.banner__step-third-arrow {
    grid-column: 2;
    grid-row: 3;
    align-self: center;

    .banner__step-wrapper {
        width: 74%;
        height: 17%;
        transform: translate(-1%, -18%);
    }
}

.banner__slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.banner__text {
    font-size: 1.375em;
    line-height: 109%;
    text-align: end;
    color: #FFF;
    max-width: 87%;
    margin: 14.5% 4% 3.5% auto;
}

.banner__imagebox {
    max-width: 941px;
    max-height: 831px;
    position: absolute;
    right: -2%;
    top: 39%;
    aspect-ratio: 1.133;
    width: 91%;
    height: 70%;
}

.banner__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.d-none {
    display: none;
}

.fade-in {
    animation: fadeIn .5s ease forwards;
}

.fade-out {
    animation: fadeOut .5s ease forwards;
}

.slide-animate-in {
    animation: slideInFromRight 1s ease forwards;
}

.slide-animate-out {
    animation: slideOutToRight 1s ease forwards;
}

@media screen and (max-width: 1440px) {
    .banner__button {
        font-size: 105%;
    }

    .banner__text {
        font-size: 1em;
    }
}

@media screen and (max-width: 1024px) {
    .banner {
        font-size: 20px;
        width: 100vw;
        height: 100vh;
    }

    .banner__button {
        margin: 31.5% auto 0;
        font-size: 1em;
    }

    .banner__step-text {
        margin-bottom: 3%;
        font-size: .7em;
    }

    .banner__desc {
        margin-bottom: 2%;
    }

    .banner__step-first {

        .banner__step-wrapper {
            width: 94%;
            height: 58%;
            transform: translate(12%, 15%);
        }
    }

    .banner__step-second {
        .banner__step-wrapper {
            height: 63%;
            width: 94%;
            transform: translateY(-39%);
        }
    }

    .banner__step-third {
        .banner__step-wrapper {
            height: 35%;
            width: 87%;
            transform: translate(7%, -48%);
        }
    }

    .banner__step-forth {
        .banner__step-wrapper {
            height: 41%;
            width: 100%;
            transform: translate(-9%, -1%);
        }
    }

    .banner__step-first-arrow {
        .banner__step-wrapper {
            width: 49%;
            height: 13%;
            transform: translate(66%, 30%);
        }
    }

    .banner__step-second-arrow {
        .banner__step-wrapper {
            height: 9%;
            width: 59%;
            transform: translate(29%, 19%);
        }
    }

    .banner__step-third-arrow {
        .banner__step-wrapper {
            width: 60%;
            height: 17%;
            transform: translate(-1%, -40%);
        }
    }

    .banner__text {
        font-size: .8em;
    }

    .banner__imagebox {
        right: -21%;
        bottom: -10%;
    }
}

@media screen and (max-width: 768px) {
    .banner__button {
        font-size: .6em;
    }

    .banner__step-text {
        font-size: .4em;
    }

    .banner__imagebox {
        top: 24%;
    }
}
