@font-face {
    font-family: 'Open Sans';
    src: url('./fonts/OpenSans-Bold.woff2') format('woff2'),
        url('./fonts/OpenSans-Bold.woff') format('woff'),
        url('./fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
        visibility: visible;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideOutToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.banner {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    max-width: 1080px;
    max-height: 1920px;
    aspect-ratio: 9 / 16;
    background-color: #000;
    padding: 3% 2.2% 3.30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.icon {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: block;
}

.banner__desc {
    opacity: 0;
    margin-bottom: 4%;
    min-height: 1.75em;
    height: 4%;
    width: 100%;
    transition: opacity .3s ease;
}

.banner__desc-second {
    .icon {
        max-width: 70%;
    }
}

.banner__desc-third {
    .icon {
        max-width: 34%;
    }
}

.banner__logo {
    max-height: 291px;
    display: flex;
    justify-content: center;
    height: 17%;
    width: 100%;
}

.banner__button {
    background-color: #F50;
    color: #FFF;
    padding: 5% 14.5% 3%;
    font-family: inherit;
    font-size: 2em;
    line-height: 119%;
    border-radius: .6em;
    margin: 49.5% auto 0;
    text-transform: uppercase;
    opacity: 1;
    cursor: pointer;
    transition: visibility .3s ease, opacity .3s ease;
}

.banner__steps {
    min-height: calc(100% - 9.8em);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 28% 29% 46%;
}

.banner__step {
    /* position: absolute; */
    opacity: 0;
}

.banner__step-text {
    font-size: 1em;
    line-height: 113%;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 9%;
    text-align: center;
}

.banner__step-icon {
    height: 100%;
    width: 100%;
}

.banner__step-first {
    justify-self: flex-start;
    align-self: end;
    width: 119%;
    height: 75%;
    position: relative;
    bottom: -2%;

    .banner__step-icon {
        position: relative;
        left: -2%;
    }
}

.banner__step-second {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
    align-items: end;
    height: 76%;
    width: 98%;
    position: relative;
    top: -17%;
    right: -1%;
}

.banner__step-third {
    grid-column: 1;
    grid-row: 3;
    justify-self: start;
    position: relative;
    left: -2%;
}

.banner__step-forth {
    grid-column: 3;
    grid-row: 3;
    justify-self: end;
    align-self: center;
    height: 47%;
    width: 116%;
    position: relative;
    left: -2%;
}

.banner__step-first-arrow {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: end;
    position: relative;
    bottom: -26%;
    width: 76%;
    height: 36%;
}

.banner__step-second-arrow {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: end;
    height: 27%;
    width: 58%;
    position: relative;
    bottom: -15%;
    left: -4%;
}

.banner__step-third-arrow {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    width: 63%;
    height: 19%;
    padding-top: 36px;
}

.banner__slide {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.banner__text {
    font-size: 1.375em;
    line-height: 109%;
    text-align: end;
    color: #FFF;
    max-width: 88%;
    margin: 16.5% 0 3.5% auto;
}

.banner__imagebox {
    max-width: 941px;
    max-height: 831px;
    position: relative;
    right: -8%;
    bottom: -4%;
    aspect-ratio: 1.133;
}

.banner__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.d-none {
    display: none;
}

.fade-in {
    animation: fadeIn .5s ease forwards;
}

.fade-out {
    animation: fadeOut .5s ease forwards;
}

.slide-animate-in {
    animation: slideInFromRight 1s ease forwards;
}

.slide-animate-out {
    animation: slideOutToRight 1s ease forwards;
}

@media screen and (max-width: 1024px) {
    .banner {
        font-size: 20px;
    }
    
    .banner__button {
        margin: 31.5% auto 0;
    }

    .banner__step-text {
        margin-bottom: 3%;
    }

    .banner__desc {
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 768px) {
    .banner__button {
        font-size: .6em;
    }
}